*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e24384;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
}
h3{
    color: white;
    font-size: 2rem;
    padding-bottom: 0.7rem;
    letter-spacing: 1px;
}
h5{
    color: white;
    font-size: 1rem;
    padding-bottom: 3rem;

}
.card{
    background-color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}
.image-card{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.image-card img{
    background-position: center;
    background-attachment: cover;
}
.review{
    padding-bottom: 1rem;
}
.star{
    color: #ff5733;
}
.prvBtn,.nextBtn{
    color: #ff5733;
    font-size: 1.8rem;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    line-height: 45px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.3s ease;

}
.prvBtn{
    position: absolute;
    top: 10%;
    right: 14%;
}
.nextBtn{
    position: absolute;
    top: 10%;
    right: 5%;
}
.btn:hover{
    background-color: #ff5733;
    border-radius: 50%;
    color: white;
}
@media (max-width:624px){
    .card{
        width: 90%;
        padding-bottom: 20px;
        
    }
    .prvBtn{
        position: absolute;
        top: 10%;
        right: 18%;
    }
}